name: Build Flatpak

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-48
      options: --privileged
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Flatpak (flatpak-builder action)
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          manifest-path: com.github.yafti.gtk.yml
          bundle: yafti-gtk.flatpak
          upload-artifact: true
          verbose: true
